#html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#container {
    width: 100vw;
    height: 100vh;
}

#left_sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: medium;
    align-items: center;
    width: 15%;
    height: 100%;
    background-color: #F0F2F6;
    float: left;
    position: relative;
}

#left_sidebar h2 {
    margin-bottom: 0.5em;
    flex-wrap: nowrap;
    text-align: center;
}

#left_sidebar img {
    padding: 10%;
    width: 90%;
}

#new_com {
    width: 60%;
    height: 3em;
    font-size: 1em;
    flex-wrap: nowrap;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #ccc;
    &:hover {
        background-color: #d7d9df;
    }
}

#filelist {
    overflow-y: auto;
    text-align: center;
}

#filelist div {
    margin-bottom: 0.5em;
    cursor: pointer;
    &:hover {
        color: #a9a9a9;
    }
}

#chat_ui {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 70%;
    height: 100%;
    background-color: #fff;
    float: left;
}

#left-column {
    background-color: #fff;
    position: relative;
}

/* #left-column img {
    margin-top: 20em;
    padding: 10%;
    width: 90%;
} */

#chat_title {
    word-break: break-all;
    font-size: 2em;
    margin-left: 0.5em;
}

#languageLabel {
    margin-top: 3em;
    margin-bottom: 0.5em;
    font-size: 1em;
    margin-left: 10%;
}

#languageSelect {
    width: 80%;
    margin: 0 10% 0 10%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#mic_input_control {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 40%;
}

#micTitle {
    margin-bottom: 0.5em;
    font-size: 1em;
    margin-left: 10%;
}

canvas {
    width: 80%;
    margin: 0 10% 0 10%;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#recordButton {
    width: 40%;
    margin: 0.5em 10% 0 10%;
    padding: 0.5em;
    background-color: #ffffff;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    &:hover {
        background-color: #d7d9df;
    }
}

#center-column {
    padding: 2em;
    background-color: #fff;
    overflow-y: auto;
    display: grid;
    grid-template-rows: 16fr 1fr;
    gap: 0.5em;

}

.chatlog-scroll {
    overflow-y: auto;
    border: 4px solid rgb(34, 163, 214);
    border-radius: 5px;
}

.chatlog-container {
    display: flex;
    gap: 1em;
    flex-direction: column;
    padding: 2em 4em 8em 4em;
}

.chat-header {
    margin-bottom: 0.5em;
    color: navy;
}

.chat-content {
    border: 1px solid grey;
    padding: 1em;
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.chat-content > div {
    word-wrap: break-word;
    max-width: 100%;
}

.chat-me.chat-container {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.chat-me .chat-content {
    border-right-width: 8px;
    align-items: flex-end;
    max-width: 85%;
}

.chat-other.chat-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.chat-other .chat-content {
    border-left-width: 8px;
    align-items: flex-start;
    max-width: 85%;
}

#chatbox {
    display: grid;
    grid-template-columns: 9fr 1fr;
    gap:0.5em;
    align-items: stretch;
}

#chatbox textarea {
    border: 4px solid rgb(34, 163, 214);
    border-radius: 5px;
    resize: none;
}

#send_button {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    background-color: #EEE;
    padding: 0.8em 0.2em 0.8em 0.2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    border: 2px solid gray;
    margin: 0.8em 0 0.8em
}

#right_sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: medium;
    align-items: center;
    width: 15%;
    height: 100%;
    background-color: #F0F2F6;
    float: right;
    position: relative;
}

#right_sidebar h2 {
    margin-bottom: 1.5em;
    flex-wrap: nowrap;
    text-align: center;
}

#right_sidebar div {
    cursor: pointer;
    text-align: center;
    margin-bottom: 1em;
    &:hover {
        color: #a9a9a9;
    }
}