#html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#container {
    width: 100vw;
    height: 100vh;
}

#left_sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: medium;
    width: 15%;
    height: 100%;
    background-color: #F0F2F6;
    float: left;
    position: relative;
}

#left_sidebar img {
    padding: 10%;
}

#new_com {
    width: 60%;
    height: 3%;
    font-size: 1em;
    flex-wrap: nowrap;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 10px;

    &:hover {
        background-color: #d7d9df;
    }
}

#footer {
    width: 100%;
    height: 5%;
    display: block;
    background-color: #d7d9df;
    font-size: x-small;
    position: absolute;
    bottom: 0;
}

#chat_ui {
    display: flex;
    width: 70%;
    height: 100%;
    background-color: #fff;
    float: left;
}

#chat_ui h1 {
    font-size: 2vw;
    margin-left: 3%;
}

#left-column {
    background-color: #fff;
    width: 25%;
}

#center-column {
    padding-left: 2em;
    padding-right: 2em;
    background-color: #fff;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    height: 100%;
    overflow-y: auto;
    width: 50%;
}

.message {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.message-box {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 80%;
}

.other {
    background-color: #f2f2f2;
    float: left;
}

.rokn {
    background-color: #4CAF50;
    color: white;
    float: right;
}

.chatlog-container {
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.chat-content {
    border: 1px solid grey;
    padding: 1em;
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.chat-me .chat-content {
    border-right-width: 8px;
}

.chat-header {
    margin-bottom: 0.5em;
    color: navy;
}

.chat-me.chat-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-left: 4em;
}

.chat-other .chat-content {
    border-left-width: 8px;
}

.chat-other {
    margin-right: 4em;
}

.chatlog-container {
    padding-top: 8em;
    padding-bottom: 8em;
    position: relative;
    top: 0;
    bottom: calc(3% + 16em);
}

.dummy-chat {
    height: 8em;
}

.chat-container>div {
    word-break: keep-all;
}

#right-column {
    background-color: #fff;
    width: 25%;
}

#chatbox {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 23.3%;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#chatbox textarea {
    width: 85%;
    height: 100%;
    resize: none;
}

#send_button {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    background-color: #a9a9a9;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    width: 10%;
    height: 100%;

    &:hover {
        background-color: white;
        color: #a9a9a9;
    }
}

#right_sidebar {
    width: 15%;
    height: 100%;
    font-size: medium;
    float: right;
    background-color: #F0F2F6;
}