#html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#container {
    width: 100vw;
    height: 100vh;
}

#left_sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: medium;
    align-items: center;
    width: 15%;
    height: 100%;
    background-color: #F0F2F6;
    float: left;
    position: relative;
}

#left_sidebar h2 {
    margin-bottom: 0.5em;
    flex-wrap: nowrap;
    text-align: center;
}

#left_sidebar img {
    padding: 10%;
    width: 90%;
}

#new_com {
    width: 60%;
    height: 3em;
    font-size: 1em;
    flex-wrap: nowrap;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 10px;

    &:hover {
        background-color: #d7d9df;
    }
}

#filelist {
    overflow-y: auto;
    text-align: center;
}

#filelist div {
    margin-bottom: 0.5em;
    cursor: pointer;
    &:hover {
        color: #a9a9a9;
    }
}

#chat_ui {
    display: flex;
    width: 70%;
    height: 100%;
    background-color: #fff;
    float: left;
}

#left-column {
    background-color: #fff;
    width: 25%;
}

#chat_title {
    white-space: break-spaces;
    font-size: 2em;
    margin-left: 0.5em;
}

#center-column {
    padding: 2em;
    background-color: #fff;
    overflow-y: auto;
    width: 75%;
}

.chatlog-container {
    display: flex;
    gap: 1em;
    flex-direction: column;
    padding: 2em 0 8em;
    position: relative;
    top: 0;
    bottom: calc(3% + 16em);
}

.chat-header {
    margin-bottom: 0.5em;
    color: navy;
}

.chat-content {
    border: 1px solid grey;
    padding: 1em;
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.chat-me.chat-container {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.chat-me .chat-content {
    border-right-width: 8px;
    align-items: flex-end;
}

.chat-other.chat-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.chat-other .chat-content {
    border-left-width: 8px;
    align-items: flex-start;
}

#chatbox {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 33.3%;
    bottom: 3%;
    left: 40%;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#chatbox textarea {
    width: 85%;
    height: 100%;
    resize: none;
}

#send_button {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    background-color: #a9a9a9;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    width: 10%;
    height: 100%;

    &:hover {
        background-color: white;
        color: #a9a9a9;
    }
}

#right_sidebar {
    width: 15%;
    height: 95%;
    display: flex;
    text-align: center;
    align-content: flex-start;
    justify-content: center;
    font-size: medium;
    float: right;
    background-color: #F0F2F6;
}

#footer {
    width: 15%;
    height: 5%;
    display: block;
    background-color: #d7d9df;
    font-size: x-small;
    position: absolute;
    bottom: 0;
}