<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>AI 상선검색망</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>

<body>
    <div id="container">

        <aside id="left_sidebar">
            <img src="{{ url_for('static', filename='images/rokn.png') }}">
            <button id="new_com">새로운 통신</button>
            <h2>통신 내역 목록</h2>
            <div id="filelist">
            </div>
        </aside>

        <section id="chat_ui">
            <div id="left-column">
                <!-- <h1>AI 상선검색망</h1>
                <br> -->

                <h1 id="chat_title">채팅 제목</h1>
                <h5 id="languageLabel">통신 상대 언어 설정</h5>
                <select id="languageSelect">
                    <option value="" disabled selected hidden>언어를 선택해주세요</option>
                    <option value="korean">한국어</option>
                    <option value="english">영어</option>
                    <option value="japanese">일본어</option>
                    <option value="chinese">중국어</option>
                    <option value="russian">러시아어</option>
                    <option value="etc">기타</option>
                </select>
                <br>
                <h5>수신 음성 wave 실시간 시각화</h5>
                
            </div>
            <div id="center-column">
                <div id="chatlog" class="chatlog-container">
                    <!-- <div class="chat-container chat-me">
                        <div class="chat-header">대한민국 해군 (2024-01-20 14:42:44)</div>
                        <div class="chat-content">
                            <div>여기는 대한민국 해군입니다. 우리의 검색에 협조바랍니다.</div>
                            <div>This is Korean Navy. Corperate with our investigation</div>
                            <div>
                                <audio controls src="{{ url_for('static', filename='test.wav') }}"></audio>
                            </div>
                        </div>
                    </div>

                    <div class="chat-container chat-other">
                        <div class="chat-header">미확인 상선 (2024-01-20 14:52:44)</div>
                        <div class="chat-content">
                            <div>No I dont want to go away.</div>
                            <div>싫다. 저리가라 </div>
                            <div>
                                <audio controls src="{{ url_for('static', filename='test.wav') }}"></audio>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div id="chatbox">
                    <textarea id="messageInput" placeholder="메세지를 입력하십시오."></textarea>
                    <button id="send_button">전송</button>
                </div>
            </div>

        </section>

        <aside id="right_sidebar">
            <h2 id="freq_used_script">자주 사용하는 스크립트</h2>
            <footer id="footer">
                <h2>제작자 정보, 문의 정보</h2>
            </footer>
        </aside>
        <script type="module" src="{{ url_for('static', filename='script.js') }}"></script>

    </div>
</body>

</html>